In [4]:
import pandas as pd
import numpy as np

In [5]:
import pandas as pd

# Read the text file
file = 'dataquest-nascon23/Glucose-Data/Glucose-Data/1.txt'
df = pd.read_csv(file, sep='\t', header=None)

# Rename the columns
df.columns = ['Date', 'Time', 'Code', 'Glucose_Level']

In [6]:
import os
import pandas as pd

# Get the filename and use it as the patient name
filename = file
patient_name = os.path.splitext(filename)[0]

# Read the text file
df = pd.read_csv(filename, sep='\t', header=None)

# Rename the columns and add the patient name and ID columns
df.columns = ['Date', 'Time', 'Code', 'GlucoseLevel']
df.insert(0, 'PatientID', patient_name)
df.set_index('PatientID', inplace=True)
# Remove the default index
df.index.name = None

In [7]:
#day column containing day
# Extract the day from the date and create a new column
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.strftime('%A')

In [8]:
df.tail()

,Date,Time,Code,GlucoseLevel,Day
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:53,58,275,Tuesday
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55,33,7,Tuesday
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55,35,10,Tuesday
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:50,60,191,Wednesday
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:52,33,5,Wednesday

In [9]:
# Convert the 'Time' column to a datetime data type
df['Time'] = pd.to_datetime(df['Time'], errors='coerce')

# Define a function to get the time of day
def get_time_of_day(row):
    hour = row['Time'].hour
    if hour >= 3 and hour < 12:
        return 'Morning'
    elif hour >= 12 and hour < 16:
        return 'Afternoon'
    elif hour >= 16 and hour < 19:
        return 'Evening'
    else:
        return 'Night' if hour >= 19 or hour < 3 else None

# Create a new column 'time_of_day'
df['time_of_day'] = df.apply(get_time_of_day, axis=1)
df['Time'] = pd.to_datetime(df['Time'])
df['Time'] = df['Time'].dt.time

In [10]:
df

,Date,Time,Code,GlucoseLevel,Day,time_of_day
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night
...,...,...,...,...,...,...
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:53:00,58,275,Tuesday,Morning
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55:00,33,7,Tuesday,Morning
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55:00,35,10,Tuesday,Morning
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:50:00,60,191,Wednesday,Morning
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:52:00,33,5,Wednesday,Morning

In [11]:
#seperate column for year and month
# Convert the 'Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Create new columns 'Year' and 'Month'
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [12]:
df.head()

,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4

In [13]:
#7 weak day
df['week_day'] = (df['Day'] != 'Saturday') & (df['Day'] != 'Sunday')
df['week_day'] = df['week_day'].astype(int)

In [14]:
#QUARTER OF DAY
def get_quarter(row):
    if row['time_of_day'] == 'Morning':
        return 1
    elif row['time_of_day'] == 'Afternoon':
        return 2
    elif row['time_of_day'] == 'Evening':
        return 3
    elif row['time_of_day'] == 'Night':
        return 4
    else:
        return None

df['quarter'] = df.apply(get_quarter, axis=1)

In [15]:
df.head()

,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,2
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,3
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,3
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,3
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,4

In [16]:
df.head()

,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,2
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,3
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,3
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,3
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,4

In [17]:
my_dict = {
    33: "Regular insulin dose",
    34: "NPH insulin dose",
    35: "UltraLente insulin dose",
    48: "Unspecified blood glucose measurement",
    57: "Unspecified blood glucose measurement",
    58: "Pre-breakfast blood glucose measurement",
    59: "Post-breakfast blood glucose measurement",
    60: "Pre-lunch blood glucose measurement",
    61: "Post-lunch blood glucose measurement",
    62: "Pre-supper blood glucose measurement",
    63: "Post-supper blood glucose measurement",
    64: "Pre-snack blood glucose measurement",
    65: "Hypoglycemic symptoms",
    66: "Typical meal ingestion",
    67: "More-than-usual meal ingestion",
    68: "Less-than-usual meal ingestion",
    69: "Typical exercise activity",
    70: "More-than-usual exercise activity",
    71: "Less-than-usual exercise activity",
    72: "Unspecified special event"
}

In [18]:
# Loop through the keys in the dictionary and assign 1 if the key is present in the code column, else 0
for key in my_dict.keys():
    df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)

In [19]:
df.head()

,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter,...,Post-supper blood glucose measurement,Pre-snack blood glucose measurement,Hypoglycemic symptoms,Typical meal ingestion,More-than-usual meal ingestion,Less-than-usual meal ingestion,Typical exercise activity,More-than-usual exercise activity,Less-than-usual exercise activity,Unspecified special event
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,2,...,0,0,0,0,0,0,0,0,0,0
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,3,...,0,0,0,0,0,0,0,0,0,0
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,3,...,0,0,0,0,0,0,0,0,0,0
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,3,...,0,0,0,0,0,0,0,0,0,0
dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,4,...,0,1,0,0,0,0,0,0,0,0

In [21]:
df.to_csv('Features.csv')