In [31]:
import pandas as pd
import numpy as np

In [32]:
import pandas as pd
file = 'dataquest-nascon23/Glucose-Data/Glucose-Data/1.txt'
# Read the text file
df = pd.read_csv(file, sep='\t', header=None)

# Rename the columns
df.columns = ['Date', 'Time', 'Code', 'Glucose_Level']

In [33]:
import os
import pandas as pd

# Get the filename and use it as the patient name
filename = file
patient_name = os.path.splitext(filename)[0]

# Read the text file
df = pd.read_csv(filename, sep='\t', header=None)

# Rename the columns and add the patient name and ID columns
df.columns = ['Date', 'Time', 'Code', 'GlucoseLevel']
df.insert(0, 'PatientID', patient_name)
#df.set_index('PatientID', inplace=True)
# Remove the default index
#df.index.name = None

In [34]:
df.head()

,PatientID,Date,Time,Code,GlucoseLevel
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,04-15-1991,13:08,33,5
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,04-15-1991,17:17,62,41
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,04-15-1991,18:23,33,6
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,04-15-1991,18:24,35,3
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,04-15-1991,21:16,64,119

In [35]:
#day column containing day
# Extract the day from the date and create a new column
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.strftime('%A')

In [36]:
df.tail()

,PatientID,Date,Time,Code,GlucoseLevel,Day
295,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:53,58,275,Tuesday
296,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55,33,7,Tuesday
297,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55,35,10,Tuesday
298,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:50,60,191,Wednesday
299,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:52,33,5,Wednesday

In [37]:
# Convert the 'Time' column to a datetime data type
df['Time'] = pd.to_datetime(df['Time'], errors='coerce')

# Define a function to get the time of day
def get_time_of_day(row):
    hour = row['Time'].hour
    if hour >= 3 and hour < 12:
        return 'Morning'
    elif hour >= 12 and hour < 16:
        return 'Afternoon'
    elif hour >= 16 and hour < 19:
        return 'Evening'
    else:
        return 'Night' if hour >= 19 or hour < 3 else None

# Create a new column 'time_of_day'
df['time_of_day'] = df.apply(get_time_of_day, axis=1)
df['Time'] = pd.to_datetime(df['Time'])
df['Time'] = df['Time'].dt.time

In [38]:
df

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night
...,...,...,...,...,...,...,...
295,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:53:00,58,275,Tuesday,Morning
296,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55:00,33,7,Tuesday,Morning
297,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55:00,35,10,Tuesday,Morning
298,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:50:00,60,191,Wednesday,Morning
299,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:52:00,33,5,Wednesday,Morning

In [39]:
#seperate column for year and month
# Convert the 'Date' column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Create new columns 'Year' and 'Month'
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [40]:
df.head()

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4

In [41]:
#7 weak day
df['week_day'] = (df['Day'] != 'Saturday') & (df['Day'] != 'Sunday')
df['week_day'] = df['week_day'].astype(int)

In [42]:
#QUARTER OF DAY
def get_quarter(row):
    if row['time_of_day'] == 'Morning':
        return 1
    elif row['time_of_day'] == 'Afternoon':
        return 2
    elif row['time_of_day'] == 'Evening':
        return 3
    elif row['time_of_day'] == 'Night':
        return 4
    else:
        return None

df['quarter'] = df.apply(get_quarter, axis=1)

In [43]:
df.head()

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,2
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,3
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,3
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,3
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,4

In [44]:
df.head()

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,quarter
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,2
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,3
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,3
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,3
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,4

In [45]:
my_dict = {
    33: "Regular insulin dose",
    34: "NPH insulin dose",
    35: "UltraLente insulin dose",
    48: "Unspecified blood glucose measurement",
    57: "Unspecified blood glucose measurement",
    58: "Pre-breakfast blood glucose measurement",
    59: "Post-breakfast blood glucose measurement",
    60: "Pre-lunch blood glucose measurement",
    61: "Post-lunch blood glucose measurement",
    62: "Pre-supper blood glucose measurement",
    63: "Post-supper blood glucose measurement",
    64: "Pre-snack blood glucose measurement",
    65: "Hypoglycemic symptoms",
    66: "Typical meal ingestion",
    67: "More-than-usual meal ingestion",
    68: "Less-than-usual meal ingestion",
    69: "Typical exercise activity",
    70: "More-than-usual exercise activity",
    71: "Less-than-usual exercise activity",
    72: "Unspecified special event"
}

In [46]:
# Loop through the keys in the dictionary and assign 1 if the key is present in the code column, else 0
for key in my_dict.keys():
    df[my_dict[key]] = df['Code'].apply(lambda x: 1 if x == key else 0)

In [47]:
df.head(300)

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,...,Post-supper blood glucose measurement,Pre-snack blood glucose measurement,Hypoglycemic symptoms,Typical meal ingestion,More-than-usual meal ingestion,Less-than-usual meal ingestion,Typical exercise activity,More-than-usual exercise activity,Less-than-usual exercise activity,Unspecified special event
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,...,0,0,0,0,0,0,0,0,0,0
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,0,0
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,0,0
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,0,0
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:53:00,58,275,Tuesday,Morning,1991,5,1,...,0,0,0,0,0,0,0,0,0,0
296,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55:00,33,7,Tuesday,Morning,1991,5,1,...,0,0,0,0,0,0,0,0,0,0
297,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-14,05:55:00,35,10,Tuesday,Morning,1991,5,1,...,0,0,0,0,0,0,0,0,0,0
298,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:50:00,60,191,Wednesday,Morning,1991,5,1,...,0,0,0,0,0,0,0,0,0,0
299,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-05-15,11:52:00,33,5,Wednesday,Morning,1991,5,1,...,0,0,0,0,0,0,0,0,0,0

In [48]:
# # Group the data by PatientID and iterate over each patient
# for patient_id, patient_data in df.groupby('PatientID'):
    
#     # Calculate the cumulative sum of the GlucoseLevel column
#     cumulative_sum = patient_data['GlucoseLevel'].cumsum().shift(fill_value=0)

#     # Create a new column "glucose_level_since_beginning" with the calculated cumulative sum
#     df.loc[patient_data.index, 'glucose_level_since_beginning'] = cumulative_sum

#seperate column for year and month
# Convert the 'Date' column to a datetime data type

In [49]:
from datetime import datetime

In [50]:
#time_since_beginning
df['DateTime'] = pd.to_datetime(df['Date']) + pd.to_timedelta(df['Time'].apply(lambda x: x.strftime('%H:%M:%S')))
grouped = df.groupby('PatientID')
df['time_since_beginning'] = grouped['DateTime'].diff().dt.total_seconds()
df['time_since_beginning'] = df['time_since_beginning'].replace(0, np.nan)
df['time_since_beginning'] = df['time_since_beginning'].fillna(0)
df = df.drop('DateTime', axis=1)

In [51]:
df.head()

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,...,Pre-snack blood glucose measurement,Hypoglycemic symptoms,Typical meal ingestion,More-than-usual meal ingestion,Less-than-usual meal ingestion,Typical exercise activity,More-than-usual exercise activity,Less-than-usual exercise activity,Unspecified special event,time_since_beginning
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,...,0,0,0,0,0,0,0,0,0,0.0
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,0,14940.0
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,0,3960.0
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,0,60.0
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,...,1,0,0,0,0,0,0,0,0,10320.0

In [52]:
df['glucose_level_since_beginning'] = 0

# Looping through each row in the dataframe and updating the new column based on the conditions
current_patient_id = df.loc[0, 'PatientID']
for i in range(1, len(df)):
    if df.loc[i, 'PatientID'] != current_patient_id:
        df.loc[i, 'glucose_level_since_beginning'] = 0
        current_patient_id = df.loc[i, 'PatientID']
    elif df.loc[i, 'Code'] in [61, 62, 33, 34, 35, 59, 63, 67, 68]:
        df.loc[i, 'glucose_level_since_beginning'] = df.loc[i, 'GlucoseLevel']
    else:
        df.loc[i, 'glucose_level_since_beginning'] = df.loc[i-1, 'glucose_level_since_beginning']

In [53]:
df.head(100)

,PatientID,Date,Time,Code,GlucoseLevel,Day,time_of_day,Year,Month,week_day,...,Hypoglycemic symptoms,Typical meal ingestion,More-than-usual meal ingestion,Less-than-usual meal ingestion,Typical exercise activity,More-than-usual exercise activity,Less-than-usual exercise activity,Unspecified special event,time_since_beginning,glucose_level_since_beginning
0,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,13:08:00,33,5,Monday,Afternoon,1991,4,1,...,0,0,0,0,0,0,0,0,0.0,0
1,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,17:17:00,62,41,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,14940.0,41
2,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:23:00,33,6,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,3960.0,6
3,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,18:24:00,35,3,Monday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,60.0,3
4,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-15,21:16:00,64,119,Monday,Night,1991,4,1,...,0,0,0,0,0,0,0,0,10320.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-24,05:44:00,35,10,Wednesday,Morning,1991,4,1,...,0,0,0,0,0,0,0,0,60.0,10
96,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-24,11:49:00,60,225,Wednesday,Morning,1991,4,1,...,0,0,0,0,0,0,0,0,21900.0,10
97,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-24,11:50:00,33,6,Wednesday,Morning,1991,4,1,...,0,0,0,0,0,0,0,0,60.0,6
98,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-24,16:40:00,62,115,Wednesday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,17400.0,115
99,dataquest-nascon23/Glucose-Data/Glucose-Data/1,1991-04-24,16:42:00,33,6,Wednesday,Evening,1991,4,1,...,0,0,0,0,0,0,0,0,120.0,6

In [54]:
df.to_csv('Features1.csv')